{% extends "base.html.twig" %}

{% block title %}Accès interdit{% endblock %}


{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Accès interdit</h1>
                <p>Vous n'avez pas les droits pour accéder à cette page.</p>
            </div>
        </section>
    </main>
{% endblock %}